body {
    margin: 1em auto;
    max-width: 40em;
    padding: 0 .62em;
    font: 1.2em/1.62 sans-serif;
    background-color: #e6e6e6;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

a:active,a:hover,a:link,a:visited{
    color:#000;
    text-decoration:none;
}

table {
    border-collapse: collapse; 
    background: #e6e6e6;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
}
    
td,th{
    padding-left:8px;
}

thead tr { 
    height:60px;
    background:gray;
    font-size:16px;
}

tbody tr {
    height:48px;
}
    
td,th {
    text-align:left;
}


@media print {
    body {
        max-width: none
    }
}